section#about .body .terms {
  margin-bottom: 30px;
}

section#about .body span {
  font-size: 1.5em;
  margin: 0px 10px;
}

section#about .body p {
  font-size: 1.3em;
}

section#about .body .comment {
  font-size: 1.3em;
  font-weight: 700;
}

section#about .body .coupon {
  border: solid 1px #ddd;
}