section#about .body .terms {
  margin-bottom: 20px;
}

section#about .body span {
  font-size: 1.5em;
  margin: 10px;
}

section#about .body p {
  font-size: 1.1em;
}

section#about .body .comment {
  font-size: 1.3em;
  font-weight: 500;
}