#headline {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

#headline:before {
    content: '';
    z-index: 9;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#headline .block {
    position: relative;
    z-index: 10;
}

#headline .block .welcome img {
    margin-top: 0px; 
}

#headline .block .body h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 60px;
    color: var(--accent-color);
}

#headline .block .body p {
    font-size: 1.3em;
}

#headline .block .body .line-add {
    font-size: 1.5em;
    padding-bottom: 20px;
}

#headline .block .body .news-box {
    padding: 20px;
    background-color: rgba( 230, 230, 230, 0.4 );
}

#headline .block .body .news-box strong {
    font-size: 1.1em;
}

#headline .block .body .news-box .topic {
    font-size: 1em;
}

#headline .block .body .news-box .topic u {
    padding-right: 10px;
}

@media only screen and (max-width: 750px) {
    #headline .block .body p {
        font-size: 1.1em;
    }

    #headline {
        padding-top: 60px; 
    }

    #headline .welcome img {
        width: 80%;
        margin-bottom: 20px; 
    }
}

@media only screen and (max-width: 1300px) {
    #headline .block .body h1 {
        font-size: 2em;
    }
    
}