#offer .green-box{
  background-color: var(--box-color);
  width: 100%;
  padding: 10px;
}
#offer .green-box div{
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

#offer .cost-image{
  margin: 25px;
  border: 3px solid red;
  padding: 10px;
}

#offer .description{
  font-size: 1.4em;
  padding: 0px 30px;
  margin-bottom: 20px;
}

#offer .phone div{
  color: #009051;
  font-size: 1.4em;
}

#offer .phone .phone-number{
  font-weight: 700;
  font-size: 7em;
}

#offer .phone-nav{
  color: var(--dark);
  font-weight: 700;
  font-size: 1.4em;
  padding: 0px 50px 50px 50px;
}

#offer .high-light{
  background: linear-gradient(transparent 50%, yellow 50%);
  width: 50%;
}

#offer .line-box{
  position: relative;
}

#offer .line-btn{
  position: absolute;
  left: 30%;
  top: 90%;
}

@media only screen and (max-width: 470px) {
  #offer .green-box div{
    color: white;
    font-weight: 700;
    font-size: 1.1em;
  }

  #offer .cost-image{
    margin: 5px;
    border: 3px solid red;
    padding: 10px 0px;
  }

  #offer .p-icon{
    display: inline-block;
    margin-right: 10px;
  }

  #offer .p-icon img{
    max-width: 30px;
  }

  #offer .p-num{
    display: inline-block;
  }
  #offer .phone .p-num{
    font-weight: 700;
    font-size: 2.3em;
  }

  #offer .phone-nav{
    font-weight: 700;
    font-size: 1.1em;
    padding: 0px;
  }
  #offer .high-light{
    width: 100%;
  }

  #offer .line-btn{
    position: absolute;
    left: 0%;
    top: 105%;
  }
}

@media only screen and (max-width: 1300px) {

}