@charset "UTF-8";

@import url("./headline.css");
@import url("./about.css");
@import url("./profile.css");
@import url("./access.css");

:root {
  --accent-color: #579b8a;
  --light-color: #FDB771;
  --medium-color: #FF492D;
  --bitter-color: #DA2723;
  --base-color: #111C16;
}

*{
  letter-spacing: 1px;
}

.container .row {
  width: auto;
  margin: 0px;
}

section.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  color: #fff;
  transition: all .2s ease-out 0s;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-bottom: 1px solid #dedede;
  z-index: 1000;
}

#header a.nav-link {
  position: relative;
  top: 25%;
}

#header a.navbar-phone {
  padding-left: 10px;
}

.title-main {
  color: var(--accent-color);
  font-size: 2.8em;
  font-weight: 700;
  margin: 20px 150px;
  border-bottom: Solid 1px #dddddd;
}

.title-description {
  font-size:1.2em;
}

section:not(#header) .container  {
  padding: 60px 0px;
}

.title {
  margin-bottom: 40px;
}

footer {
  background-color: #363839;
  color: #CCC;
}

/* slider style */
.slider{
    margin: 40px auto;
    width: 60%;
}

.slider img{
  display: block;
  width: auto;
  max-width: 100%;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  font-size: 5em;
  z-index: 10;  /* 重要 */
}

.slider-prev {
  left: 20px;
}

.slider-next {
  right: -20px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .mobile-hidden {
    display: none;
  }
  
  .navbar-brand.mobile-adjust {
    max-width: 70%;
  }

  .nav-item.mobile {
    display: inline;
  }

}