@charset "UTF-8";
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo); */

*{
  letter-spacing: 1px;
}


#question div.q-box {
  background-color: white;
  border-radius: 10px;
}

#question p.q-title {
  font-weight: 700;
  font-size: 22.8px;
  color: #1c86af;
  padding: 20px;
  margin: 0px;
}

#question div.q-elem {
  background-color: #EEE;
  font-weight: 700;
  font-size: 15.2px;
  padding: 5px;
  margin: 5px 20px;
  border-radius: 10px;
}

#question div.q-elem span.q-mark {
  font-weight: 700;
  font-size: 20px;
  color: #1c86af;
  margin: 15px 10px;
}

#question p.q-answer {
  padding: 20px;
  margin: 0px;
}
