@charset "UTF-8";
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo);
*/
@import url("./headline.css");

:root {
  --accent-color: #5C9657;
  --light-coloe: #FDB771;
  --medium-color: #FF492D;
  --bitter-color: #DA2723;
  --base-color: #111C16;
}

*{
  letter-spacing: 1px;
}

section.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  color: #fff;
  transition: all .2s ease-out 0s;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-bottom: 1px solid #dedede;
  z-index: 1000;
}

#question div.q-box {
  background-color: white;
  border-radius: 10px;
}

#question p.q-title {
  font-weight: 700;
  font-size: 22.8px;
  color: #519548;
  padding: 20px;
  margin: 0px;
}

#question div.q-elem {
  background-color: #eafde6;
  font-weight: 700;
  font-size: 15.2px;
  padding: 5px;
  margin: 5px 20px;
  border-radius: 10px;
}

#question div.q-elem span.q-mark {
  font-weight: 700;
  font-size: 20px;
  color: #eafde6;
  margin: 15px 10px;
}

#question p.q-answer {
  padding: 20px;
  margin: 0px;
}

#subheader div.title {
  padding: 30px 0px;
}

#subheader div.title div.title-main {
  color: #1c86af;
  font-size: 2.8em;
  font-weight: 700;
  margin: 20px 150px;
  border-bottom: Solid 1px #dddddd;
}

#subheader div.title p.title-description {
  color: #333;
  font-size: 1.2em;
}

#subheader div.list div.list-content {
  background-color: white;
  border-radius: 10px;
  min-width: 700px;
  padding: 12px;
  margin: 12px 0px;
  color: #555;
  font-size: 18.24px;
  font-weight: 700;
}

#subheader div.list div.list-content i {
  color: #1c86af;
  margin: 3px;
}

#subheader div.solution {
  margin: 50px 0px;
  color: #333333;
}

#subheader div.solution p.solution-main {
  color: #d00;
  font-size: 1.4em;
  font-weight: 700;
}

#subheader div.solution p.solution-content span.emphasize {
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: underline;
}

#review div.title {
  padding: 30px 0px;
}

#review div.title div.title-main {
  color: #1c86af;
  font-size: 2.8em;
  font-weight: 700;
  margin: 20px 150px;
  border-bottom: Solid 1px #dddddd;
}

#review div.title p.title-description {
  color: #333;
  font-size: 1.2em;
}

#profile div.title {
  padding: 30px 0px;
}

#profile div.title div.title-main {
  color: #1c86af;
  font-size: 2.8em;
  font-weight: 700;
  margin: 20px 150px;
  border-bottom: Solid 1px #dddddd;
}

#profile div.title p.title-description {
  color: #333;
  font-size: 1.2em;
}

#profile div.description {
  line-height: 1.7em;
  font-size: 0.95em;
}

#profile div.description p{
  margin: 30px 0px;
}

#profile div.description p.emphasize {
  font-size: 1.3em;
}

#event div.title {
  padding: 40px 0px;
}

#event div.title-header {
  color: #1c86af;
  font-size: 2.8em;
  font-weight: 700;
  margin: 30px;
}

#event div.title p.title-description {
  color: #333;
  font-size: 1.2em;
  margin: 30px 0px;
}

#navigate div.nav-title {
  margin-top: 80px;
}
#navigate div.nav-box {
  background-color: #FFF;
}

#navigate div.nav-cost {
  margin: 0px 30px;
  padding-top: 40px;
}

#navigate div.blue-box {
  background-color: #1c86af;
  color: #FFF;
  font-size: 1.1em;
  margin: 0px 30px;
  padding: 20px;
}

#navigate div.blue-box span.emphasize {
  color: #FF0;
  font-size: 1.4em;
  font-weight: 700;
}

#navigate div.addition-box {
  background-color: #FFF;
  margin: 20px 0px;
  padding: 30px;
  font-size: 1.2em;
  line-height: 1em;
}

#navigate div.addition-box p.emphasize {
  color: #A00;
  font-weight: 700;
}

#navigate div.line-box {
  margin-bottom: 70px;
}

#flow div.title {
  padding: 30px 0px;
}

#flow div.title div.title-main {
  color: #1c86af;
  font-size: 2.8em;
  font-weight: 700;
  margin: 20px 150px;
  border-bottom: Solid 1px #dddddd;
}

#flow div.title p.title-description {
  color: #333;
  font-size: 1.2em;
}

#flow div.gray-box div.description {
  min-height: 50px;
  font-size: 15.2px;
}

#flow div.gray-box {
  background-color: #EEE;
  min-height: 100px;
  border-radius: 10px;
  font-size: 1.1em;
  margin: 0px 100px;
  padding: 20px;
}

#flow div.flow-box {
  margin: 50px 0px;
}

#flow div.flow-title {
  font-weight: 700;
  font-size: 1.7em;
  margin-bottom: 20px;
}

#flow div.flow-title span {
  background-color: #1c86af;
  color: white;
  padding: 5px 10px;
}

#flow div.flow-box div.flow-description div.description {
  margin-bottom: 10px;
}

#flow div.flow-box div.arrow {
  margin: 30px 0px;
}

#flow div.conclusion {
  margin: 50px 0px;
}

#flow div.conclusion p {
  margin: 0px;
  font-size: 1.3em;
}

#footer {
  background-color: #363839;
  color: #CCC;
}
