{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about" style="background-color: #FFF;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <div class="title-main">当院について</div>
          <p class="title-description">こんなお悩みはありませんか？</p>
        </div>
        <div class="body text-center">
          <p class="terms">
            <span class="badge badge-light"> 腰痛 </span>
            <span class="badge badge-light"> 膝の痛み </span>
            <span class="badge badge-light"> 肩こり </span>
            <span class="badge badge-light"> 首の痛み </span>
            <span class="badge badge-light"> むくみ </span>
          </p>
          <div class="row">
            <div class="col-md-7 text-left">
              <p>全力で皆様のお悩みと向き合って施術させていただきます。</p>
              <p>どんな症状でもお気軽にご相談ください。</p>
              <p class="comment">根本治療を一緒に頑張ることをモットーに地域の皆様に愛されるような院を目指しております！</p>
            </div>
            <div class="col-md-5">
              <div class="coupon">
                <img src="{{ .Site.Params.about.coupon }}" alt="coupon" width="100%">
              </div>
            </div>
          </div>
          <ul class="slider">
            <li><img src="{{ .Site.Params.about.image1 }}" alt="診療イメージ1"></li>
            <li><img src="{{ .Site.Params.about.image2 }}" alt="診療イメージ2"></li>
            <li><img src="{{ .Site.Params.about.image3 }}" alt="診療イメージ3"></li>
            <li><img src="{{ .Site.Params.about.image4 }}" alt="診療イメージ4"></li>
            <li><img src="{{ .Site.Params.about.image5 }}" alt="診療イメージ5"></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}