{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <div class="title-main">当院について</div>
                    <p class="title-description">治療の方針やアピールポイントを箇条書きなどで記述</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}