{{ if .Site.Params.access.enable }}
{{ "<!-- access Section Start -->" | safeHTML }}
<section id="access" style='background-color: #FFF'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <div class="title-main">アクセス</div>
          <p>東武アーバンパークライン 川間駅南口から徒歩１分！駐車場もございますので車での来院も可能です！</p>
        </div>
      </div>
      <div class="nav-box col-md-6">
        <div class="nav-title"><span>１</span> 川間駅の南口に出ます。</div>
        <div class="nav-image text-center">
          <img src="{{ .Site.Params.access.nav1 }}" width="80%">
        </div>
        <div class="arrow text-center">
          <img src="{{ .Site.Params.access.arrow }}"　width="100%">
        </div>
        <div class="nav-title"><span>2</span> ロータリーの前を右に曲がります。</div>
        <div class="nav-image text-center">
          <img src="{{ .Site.Params.access.nav2 }}" width="80%">
        </div>
        <div class="arrow text-center">
          <img src="{{ .Site.Params.access.arrow }}"　width="100%">
        </div>
        <div class="nav-title"><span>3</span> 千葉銀行に向かって進み、手前の道を右に進みます。</div>
        <div class="nav-image text-center">
          <img src="{{ .Site.Params.access.nav3 }}" width="80%">
        </div>
        <div class="arrow text-center">
          <img src="{{ .Site.Params.access.arrow }}"　width="100%">
        </div>
        <div class="nav-title"><span>4</span> 道なりを進みます。</div>
        <div class="nav-image text-center">
          <img src="{{ .Site.Params.access.nav4 }}" width="80%">
        </div>
        <div class="arrow text-center">
          <img src="{{ .Site.Params.access.arrow }}"　width="100%">
        </div>
        <div class="nav-title"><span>5</span> 右手側に当院がございます。</div>
        <div class="nav-image text-center">
          <img src="{{ .Site.Params.access.nav5 }}" width="80%">
        </div>
      </div>
      <div class="map-box col-md-6">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d386.003132119091!2d139.83284889118502!3d35.97857785962434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018bce7df187d91%3A0xf4f96819f3caad15!2z44CSMjcwLTAyMzUg5Y2D6JGJ55yM6YeO55Sw5biC5bC-5bSO77yY77yR77yV4oiS77yR77yQ!5e0!3m2!1sja!2sjp!4v1554780919720!5m2!1sja!2sjp" width="520" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="data">
          <strong>住所</strong>
          <div>〒270-0235</div>
          <div>千葉県野田市尾崎815-10</div>
          <div>TEL：<a href="tel:0471112752">04-7111-2752</a></div>
        </div>
        <div class="data">
          <strong>電車でご来院の場合</strong>
          <div>東武アーバンパークライン 川間駅南口より徒歩１分</div>
        </div>
        <div class="data">
          <strong>車でご来院の場合</strong>
          <div>駐車場あります</div>
          <div>駐車可能台数：3台</div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- access Section End -->" | safeHTML }}
{{ end }}