{{ if .Site.Params.event.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="event" style='background-color: #FFF'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="title text-center">
                   <div class="title-header">
                     <div class="title-main">全国の理学療法士・柔道整復師等の</div>
                     <div class="title-main">プロの治療家に技術指導も行なっております！</div>
                   </div>
                   <p class="title-description text-left">毎月1,000名以上の理学療法士・柔道整復師等のプロの治療家を対象に、日本疼痛リハビリテーション協会認定筆頭講師として痛み治療の技術セミナーを全国で開催し、多くの方から支持をいただいております。</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
