{{ if .Site.Params.flow.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-color: white'>
    <div class="container" id="flow">
        <div class="row">
            <div class="col-md-12 ">
                <div class="title text-center">
                    <div class="title-main">当院の施術の流れ</div>
                    <div class="title-description">整体院 寛千での施術の流れをご紹介します。</div>
                </div>
                <div class="gray-box">
                    <div class="timer pull-left">
                        <img src="{{ .Site.Params.flow.Timer }}">
                    </div>
                    <div class="description">
                        <p><strong>■施術時間</strong></p>
                        <div><strong>初回：</strong>約60〜80分（初回は施術前に痛みの原因を確認するために問診や検査を十分に行います）</div>
                        <div><strong>2回目以降：</strong>約40〜60分</div>
                    </div>
                </div>
                <div class="flow-box">
                    <div class="flow-title"><span>１</span> 問診票の記入カウンセリング</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow1 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>まずはあなたの状態を把握するための「慢性腰痛」に特化した問診を行うため、それに関する問診票に記入していただきます。</p>
                            <p>その後、お悩みの慢性腰痛について「どこが、どのように、そしていつ頃から痛むのか」という点で詳しくお聞きしていきます。</p>
                            <p>ご不明な点や気になることがありましたら、納得がいくまで気軽にお訊きください。</p>
                        </div>
                    </div>
                    <div class="arrow text-center">
                        <img src="{{ .Site.Params.flow.arrow }}"　width="100%">
                    </div>
                    <div class="flow-title"><span>２</span> 体の状態の検査</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow2 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>問診票とカウンセリングにてお聞きした情報をもとに、慢性腰痛の原因を検査していきます。どのような動作で痛みが出るのか。骨盤のバランスはどうなっているのかなどを調べていきます。</p>
                            <p>ここではあなたの痛みが何によって引き起こされていて、何が原因で今の状態になっているのかを調べていきます。</p>
                            <p>ここまで検査を行い、あなたの腰痛がなぜ現れていたのか、本当の原因はどこなのか、どうすればその痛みを取り除く事ができるのか、といった点をお伝えさせていただきます。この過程にてあなたの「慢性腰痛」の本当の原因を突き止めていきます。</p>
                        </div>
                    </div>
                    <div class="arrow text-center">
                        <img src="{{ .Site.Params.flow.arrow }}"　width="100%">
                    </div>
                    <div class="flow-title"><span>３</span> 施術方針の説明</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow3 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>あなたの今の体の状態についてご説明していきます。</p>
                            <p>骨盤がどのようなバランスになっているのか、それがどうして痛みを引き起こすのか、などをお伝えします。</p>
                            <p>きちんとあなたに今ある症状を理解していただいた上で、施術を開始していきます。</p>
                        </div>
                    </div>
                    <div class="arrow text-center">
                        <img src="{{ .Site.Params.flow.arrow }}"　width="100%">
                    </div>
                    <div class="flow-title"><span>４</span> 施術開始</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow4 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>バキバキならす整体ではなく、手のひらで押さえるだけの優しい整体です。ほとんどの方が寝てしまう気持ちのよい施術ですので、リラックスして受けていただけます。</p>
                        </div>
                    </div>
                    <div class="arrow text-center">
                        <img src="{{ .Site.Params.flow.arrow }}"　width="100%">
                    </div>
                    <div class="flow-title"><span>５</span> 施術後の確認・日常生活の注意点</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow5 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>初めに行った検査をもう一度行い、施術前と施術後の変化を確認していきます。</p>
                            <p>今後どのような施術を行っていくのか、どのくらいのペースで通院すべきなのかをお伝えさせていただきます。また日常生活での注意点や、ご自身でも痛みを改善できるようにストレッチ・体操の方法などもお伝えします。</p>
                            <p>また、この時点であなたが抱えている疑問をすべて私にお話ください。親身になって相談に乗らせていただきます。</p>
                        </div>
                    </div>
                    <div class="arrow text-center">
                        <img src="{{ .Site.Params.flow.arrow }}"　width="100%">
                    </div>
                    <div class="flow-title"><span>６</span> 施術終了</div>
                    <div class="flow-description">
                        <div class="image pull-right">
                            <img src="{{ .Site.Params.flow.flow6 }}" width="100%">
                        </div>
                        <div class="description pull-left">
                            <p>お支払・次回予約をしていただき終了となります。もし、施術について気になることや、自分の腰痛について気になることなどがあればお気軽にご質問ください。</p>
                            <p>あなたが 『この痛みは何とかなるんだ!』 と感じて頂けるように全力で施術させていただきます。私は神戸にあるどの整形外科・整骨院・鍼灸・マッサージ・整体よりもあなたの「慢性腰痛」を理解し、丁寧な施術により、その痛みの改善を目標に施術いたします。</p>
                        </div>
                    </div>
                    <div class="conclusion text-center">
                        <p>もし慢性腰痛でお悩みならば今すぐ「整体院 寛千」へお電話下さい。</p>
                        <p>あなたも整体院 寛千で「慢性腰痛」を改善しませんか？</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
