{{ if .Site.Params.headline.enable }}
{{ "<!-- Headline Section Start -->" | safeHTML }}
<section id="headline" style='background-image: url("{{ .Site.Params.headline.bgImage | absURL }}");'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <div class="row">
            <div class="image mobile col-md-4">
              <img src="{{ .Site.Params.headline.welcome }}" width="100%">
            </div>
            <div class="body col-md-8">
              <h1>みどり接骨院へようこそ！</h1>
              <p>当院は地域に寄り添う整骨院です！</p>
              <div class="line-add">
                  <span>LINEでの予約もできます！⇨</span>
                  <a href="https://line.me/R/ti/p/%40csl7770d"><img height="36" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
              </div>
              <div class="news-box text-left">
                <strong class="text-left">- NEWS -</strong>
                  <div class="topic">
                    <div><span class="date">2019.04.08</span>[4月限定]初回のご来院の方は500円で体験できます！(<a href="https://line.me/R/ti/p/%40csl7770d">LINE予約のみ</a>)</div>
                    <div><span class="date">2019.04.08</span>今年の4月からリニューアルオープンしました！</div>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Headline Section End -->" | safeHTML }}
{{ end }}