{{ if .Site.Params.headline.enable }}
{{ "<!-- Headline Section Start -->" | safeHTML }}
<section id="headline">
  <div class="container">
    <div class="block wow fadeInUp" data-wow-delay=".3s">
      <div class="row text-center">
        <div class="mobile-hidden col-md-12">
          <img class="headline-image" src="{{ .Site.Params.headline.headlinePC }}">
        </div>
        <div class="headline-image mobile">
          <!-- <img src="{{ .Site.Params.headline.welcome }}" width="100%"> -->
          <img src="{{ .Site.Params.headline.headlineMobile }}" width="100%">
        </div>
        <div class="body col-md-12">
          <div class="mobile tablet-hidden">
            <!-- <p>当院は地域に寄り添う整骨院です！</p> -->
            <div class="line-add">
              <span>LINEでの予約もできます！</span>
              <a href="https://line.me/R/ti/p/%40csl7770d"><img height="36" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
            </div>
          </div>
          <div class="news-box text-left">
            <strong class="text-left">- NEWS -</strong>
            <div class="topic">
              <div><u class="date">2019.04.22</u>GW中の休業日(5月4,5,6日)のお知らせ</div>
              <div class="detail">                
                ＧＷは5月4日(土)～6日(月)までお休みを頂いております。
                ご迷惑お掛け致しますが、お願い申し上げます。
              </div>
              <div><u class="date">2019.04.08</u>[4月限定]初回のご来院の方は500円で体験できます！(<a href="https://line.me/R/ti/p/%40csl7770d">LINE予約のみ</a>)</div>
              <div><u class="date">2019.04.08</u>今年の4月からリニューアルオープンしました！</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Headline Section End -->" | safeHTML }}
{{ end }}