{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="headline" style='background-color: #f2f2f2'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="image">
                    <img src="{{ .Site.Params.headline.Image }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
