{{ if .Site.Params.offer.enable }}
{{ "<!-- Offer Section Start -->" | safeHTML }}
<section id="offer" style="background-color: #FFF;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="body text-center">
          <div class="green-box">
            <div>もし痛みでお悩みならば今すぐみどり整骨院へお電話ください。</div>
            <div>「もう大丈夫！その痛み、楽になります」</div>
          </div>
          <div class="cost-image">
            <img src="{{ .Site.Params.offer.cost }}" width="100%">
          </div>
          <div class="description text-left">
            <div>私は野田にあるどの整形外科･整骨院･鍼灸･マッサージ･整体よりも</div>
            <div>あなたの「痛み」を理解し、痛みを改善することを目標に丁寧に施術いたします。</div>
          </div>
          <div class="row phone">
            <div class="col-md-12">ご予約はいつでもお電話で</div>
            <div class="col-md-2 phone-number text-right">
              <img src="{{ .Site.Params.offer.phone }}" width="70%">
            </div>
            <div class="col-md-10 phone-number text-left">04-7111-2752</div>
          </div>
          <div class="phone-nav text-left">
            <div class="high-light">「ホームページを見て」とお伝えください</div>
            <div>【受付時間】8時〜20時　（定休日　日曜日）</div>
          </div>
          <div class="line-box">
            <img src="{{ .Site.Params.offer.line }}" width="100%">
            <a class="line-btn" href="https://line.me/R/ti/p/%40csl7770d"><img height="36" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Offer Section End -->" | safeHTML }}
{{ end }}