{{ if .Site.Params.question.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-color: #1c86af'>
    <div class="container" id="question">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="q-box my-4">
                    <p class="q-title">こんなに痛みが取れるのならもっと早くに来とけばよかった！</p>
                    <div class="q-elem"><span class="q-mark">Q</span>整体院 寛千にご来院いただく前はどんなお悩みがありましたか？</div>
                    <p class="q-answer">左のお尻がまず痛くなり、それから足首にかけて痺れがあり、立っていること本当に痛くて辛かったんです。布団に入った時も上向きになると痛くて痛くて、本当に辛かったです。</p>
                    <div class="q-elem"><span class="q-mark">Q</span>その辛かった腰の痛みに対し、今までどのようなことをされてきたんですか？</div>
                    <p class="q-answer">とりあえずいつも行っている整形外科に行きレントゲンを取ってもらったところ、腰部脊柱管狭 窄症という診断を受け、原因は加齢だと言われました。治療方法としてはとりあえず薬を飲むと 良くなるって言われたんですが、どれだけ飲んでも全く変わりませんでした。そのことを伝えると 「じゃあお薬を変えましょうか」と言われるだけで、その流れを3回も繰り返したんですが一向に 良くならなくてすごく悩んでいました。</p>
                    <div class="q-elem"><span class="q-mark">Q</span>他の整体院とかと比べてどこか違う所はありましたか？</div>
                    <p class="q-answer">他の整体とかにもよく行ったことがあるんですが、全然良くなりませんでした。今までのところ では腰が痛いということを伝えると、いきなり腰を揉んだり電気をただ腰に当てたりという流れ 作業に当てはめられるだけで、こちらほど悩みを詳しくは聞いてくれませんでした。</p>
                    <div class="q-elem"><span class="q-mark">Q</span>その辛かった腰痛は、今どうでしょうか。</div>
                    <p class="q-answer">全くなくなりました！本当に快適になりました。うれしいです。</p>
                    <div class="q-elem"><span class="q-mark">Q</span>治療を受けていく中で何か不安なこととかはありましたか？</div>
                    <p class="q-answer">積み重ねてきたものがあるので改善には時間が必要と分かっていましたが、途中不安はありまし た。先生に励ましてもらいながら信じて受けてきました。受けてきて本当に良かったです。</p>
                    <div class="q-elem"><span class="q-mark">Q</span>同じ腰痛で悩んでいる方に向けて、何かメッセージをお願いします。</div>
                    <p class="q-answer">私自身、こちらに伺うまですごく悩んで、やっと決心して電話をかけたという感じだったんですが、 こんなに痛みが取れるのならもっと早くに来とけばよかったと後悔しているぐらいです。とにかく、 こちらにきて早いこと北原先生に診てもらうべきだと私は思います！</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
