{{ if .Site.Params.recommend.enable }}
{{ "<!-- Recommend Section Start -->" | safeHTML }}
<section id="recommend" style="background-color: #FFF;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <div class="title-main">
            <div>
              ３つ以上の整形外科、接骨院、整体院に通ったけど
            </div>
            <div>
              改善が見られない…
            </div>
            <div>
            もうこの慢性腰痛は改善しないと思っていませんか？
            </div>
          </div>
          <p class="title-description">以下に1つでも当てはまるならみどり整骨院がお役に立てます。</p>
        </div>
        <div class="body row text-center">
          <div class="points text-left col-md-8">
            <div class="point">
              <i class="fa fa-check-circle"></i>
              <div>どこに行っても、何をしても良くならない</div>
            </div>
            <div class="point">
              <i class="fa fa-check-circle"></i>
              <div>病院でレントゲン、MRIをとって検査してもらったけど、</div>
              <div class="br">痛み止めの薬や湿布を出されて様子をみましょうと言われるだけ</div>       
            </div>            
            <div class="point">
              <i class="fa fa-check-circle"></i>
              <div>一時的に良くなるも、すぐに元に戻る</div>
            </div>            
            <div class="point">
                <i class="fa fa-check-circle"></i>
                <div>この先、もしかしたら歩けなくなるのではないかと、不安になる</div>
            </div>            
            <div class="point">
              <i class="fa fa-check-circle"></i>
              <div>自分のこの腰痛はもう良くならないと諦めかけている</div>
            </div>            
            <div class="point">
              <i class="fa fa-check-circle"></i>
              <div>この慢性腰痛がどんどん悪くなったらどうしよう…不安がある</div>
            </div>
          </div>
          <div class="image col-md-4">
            <img src="{{ .Site.Params.recommend.image }}" width="100%">
          </div>
          <div class="arrow">
            <img src="{{ .Site.Params.recommend.arrow }}">
          </div>
          <div class="conclusion col-md-12">
            <div>
              もしあなたが今上記のようにお悩みなら、もしあなたが今ほんの少しでも心のどこかで良くなりたい！と思われているなら、みどり整骨院に来院し、<span class="high-light">そのつらい慢性腰痛の根本改善をしませんか？</span>ということです。
            </div>
            <div>
              もしあなたが「そんな都合のいい方法なんてないでしょ！」とお思いなら今すぐこのページを閉じて頂いて大丈夫です。あなたの大切な時間の無駄になってしまいますから。
            </div>
            <div>
              でも、「話を聞くだけでも」と思いになられたのなら、ゆっくりとページをお進みください。
            </div>
            <div>
              事実、私の整骨院にいらっしゃった患者様はこんな驚きの変化を手に入れています・・・
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Recommend Section End -->" | safeHTML }}
{{ end }}