{{ if .Site.Params.review.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-color: #FFF'>
    <div class="container" id="review">
        <div class="row">
            <div class="col-md-12 ">
                <div class="title text-center">
                    <div class="title-main">当院に寄せられた患者さまの声</div>
                    <p class="title-description">当院に来院した慢性腰痛の患者様はこんな驚きの変化を手に入れています…</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
