{{ if .Site.Params.subheader.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="subheader" style='background-color: #EEE'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <div class="title-main">あなたは、こんな悩みはありませんか？</div>
                    <p class="title-description">１つでも当てはまるなら整体院 寛千（かんち）がお役に立てます。</p>
                </div>
            </div>
            <div class="list col-md-8">
                <div class="list-content"><i class="fa fa-check"></i>どこに行っても、何をしてもよくならない</div>
                <div class="list-content"><i class="fa fa-check"></i>はっきりした原因が分からず、医者に適当に扱われる</div>
                <div class="list-content"><i class="fa fa-check"></i>一時的には良くなるも、すぐに元に戻る</div>
                <div class="list-content"><i class="fa fa-check"></i>自分のこの腰痛はもう良くならないと諦めかけている</div>
                <div class="list-content"><i class="fa fa-check"></i>朝起きた時、腰が痛くて動けない</div>
                <div class="list-content"><i class="fa fa-check"></i>好きだったスポーツを満足に続けることができない</div>
                <div class="list-content"><i class="fa fa-check"></i>仕事や勉強に集中することができない</div>
                <div class="list-content"><i class="fa fa-check"></i>足の痺れが出てきて、長い距離が歩けない</div>
            </div>
            <div class="image col-md-4">
                <img src="{{ .Site.Params.subheader.Image }}">
            </div>
            <div class="col-md-12 ">
                <div class="solution pull-left" style="font-size:1.1em;">
                    <p class="solution-main">単刀直入に言います。</p>
                    <p class="solution-content">もしあなたが今、上記のようにお悩みなら、もしあなたが今、ほんの少しでも心のどこかで良くなりたい！と思われているなら<span class="emphasize">整体院 寛千（かんち） に来院し、そのつらい慢性腰痛の根本改善をしませんか？</span>ということです。</p>
                    <p class="solution-content">もし、あなたが「そんな都合のいい方法なんてないでしょ！」とお思いなら今すぐこのページを閉じていただいて結構です。あなたの大切なお時間の無駄になってしまいますから。</p>
                    <p class="solution-content">でも、「話を聞くだけでも」とお思いになられたのなら、ゆっくりとページをお進みください。</p>
                    <p class="solution-content">事実、僕の整体院にいらっしゃった慢性腰痛の患者様はこんな驚きの変化を手に入れています…</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}

<!-- original is banner.html -->
